---
import Terapy from "@/components/Terapy.astro";
import EUAFlag from "@/components/icons/EUA_flag.astro";
import Icon_Terapy from '@/components/icons/Icon_Terapy.astro'
import Icon_Ozono from '@/components/icons/Icon_Ozono.astro'
import CtaPrimary from "@/components/Cta_primary.astro"
import { getI18N } from "@/i18n/"
import OrtoMedic from '@/components/icons/OrtoMedic.astro'
import Serum from "@/components/icons/Serum.astro";
import Vitamin from "@/components/icons/Vitamin.astro";
import Intra from "@/components/icons/Intra.astro";
import Oncology from "@/components/icons/Oncology.astro";


const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const IconMap = {
    'Terapia de Quelación' : Serum,
    "Ozonoterapia": Serum,
    "Terapia vitamínica intravenosa": Intra,
    "Infusión de Vitamina C": Vitamin,
    "Terapia Neural": Intra,
    "Oncología integrativa": Oncology,
    "Inmunoterapia autologa": Serum,
    "Medicina ortomolecular": OrtoMedic,

}
---

<section class="h-min flex items-center justify-center relative py-[230px] lg:pt-[300px]">
    <div class="mx-5 max-w-screen-xl w-full flex flex-col gap-10 md:flex-row">
        
        <div class="flex flex-col gap-3 wfu md:w-5/6 h-fit md:sticky top-12 transition-all">
            <p class="font-semibold text-tertiary">{i18n.Treatments_Section.SECTION_SUBTITLE}</p>
            <h2 class="text-4xl font-semibold">{i18n.Treatments_Section.SECTION_TITLE}</h2>
            <p class="text-gray-600 flex gap-2 mt-2">{i18n.Treatments_Section.SECTION_CTA} <span class=""><svg class="rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#4b5563" fill="none">
                <path d="M12 4L12 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17 8.99996C17 8.99996 13.3176 4.00001 12 4C10.6824 3.99999 7 9 7 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg></span></p>
            <div class="w-full flex items-center justify-center">
                <img src="/DrDueñas.svg" alt="" class="w-[22rem]" style={{maskImage:'linear-gradient(black 55%, transparent 94%)'}}>
            </div>
        
        </div>
        <div class="flex w-full flex-col gap-9 lg:flex-row">
            <article class="flex flex-col gap-9 ">
                {i18n.Treatments_Section.TREATMENTS.slice(0, 4).map((treatment) => (
                    <Terapy  icon={IconMap[treatment.name]  || Icon_Terapy}  nameTerapy={treatment.name} desc={treatment.description}/>
                ))}
            </article>
            <article class="hidden md:flex flex-col gap-9 lg:mt-24">
                {i18n.Treatments_Section.TREATMENTS.slice(4).map((treatment) => (
                    <Terapy  icon={IconMap[treatment.name] || Icon_Terapy}  nameTerapy={treatment.name} desc={treatment.description}/>
                    // <Terapy icon={Icon_Terapy} nameTerapy={treatment.name} desc={treatment.description}/>
                ))}
            </article>
        </div>
    </div>
</section>